<ion-view hide-nav-bar="true">
    <ion-content class="contentlogin"> <!--scroll="false"-->
        <div class="text-center">
            <label>Camera IOT</label>
        </div>

        <form ng-submit="doLogin()">
            <div class="list" id="inputlogin">
                <label class="item item-input">
                    <i class="icon ion-ios-person-outline placeholder-icon"></i>
                    <input type="text" ng-model="loginData.username" placeholder="username">
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                    <input type="password" ng-model="loginData.password" placeholder="mot de passe">
                </label>
                <button class="button button-block button-positive padding" type="submit">Se connecter</button>
            </div>
        </form>
        <div id="buttonsLogin">
            <button ng-controller="RegisterCtrl" ng-click="openRegister()">Mot de passe oublié</button>
            <button ng-controller="RegisterCtrl" ng-click="openRegister()">Inscription</button>
        </div>
    </ion-content>
</ion-view>